{% extends "base.html" %}

{% block content %}
<div class="container-fluid text-center my-4">
  <div class="row gx-5">
    <div class="col text-center">
      <div class="container-sm text-center">
        <h1>Your Feed</h1>
        <hr class="my-4">
      </div>
      <div id="ItemList">
        {% for club in club_list %}
        {% set memberarray = club.members.split(" ") %}
        {% if current_user.id|string() not in memberarray %}
        <div class="club">
          <div class="container">
            <span>
              <div class="card">
                <!--CHANGE PATH BEFORE DEPLOY (MUST BE UNIX-FRIENDLY)-->
                <img src="static\{{ club.pictureName }}" class="card-img-top" alt="...">

                <div class="card-body">
                  <h5 class="card-title">{{ club.name }}</h5>
                  <p class="card-text">{{ club.type }}</p>
                  <a href="/join/{{club.id}}" class="btn btn-dark">Join</a>
                  <a href="/club/{{club.id}}" class="btn btn-dark">View</a>
                  {% if current_user.email == 'jmasmith@gmail.com' %}
                  <a href="/delete/{{club.id}}" class="btn btn-danger">Delete</a>
                  {% endif %}
                </div>
              </div><br>
            </span>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="col">
      <div class="container-sm">
        <h1>Your Clubs</h1>
        <hr class="my-4">
        <div id="ItemList">
          {% for club in club_list %}
          <div class="club">
            {% set memberarray = club.members.split(" ") %}
            {% if current_user.id|string() in memberarray %}

            <span>
              <div class="card">
                <img src="static\{{ club.pictureName }}" class="card-img-top" alt="...">

                <div class="card-body">
                  <h5 class="card-title">{{ club.name }}</h5>
                  <p class="card-text">{{ club.type }}</p>

                  <a href="/club/{{club.id}}" class="btn btn-dark">View</a>
                  <a href="/leave/{{club.id}}" class="btn btn-warning">Leave</a>
                  {% if current_user.email == 'jmasmith@gmail.com' %}
                  <a href="/delete/{{club.id}}" class="btn btn-danger">Delete</a>
                  {% endif %}
                </div>
              </div><br>
            </span>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}