{% extends "base.html" %}
{% block title %}{{ club.name }}{% endblock %}
{% block content %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!--Form below-->
            <div class="modal-body">
                <form id="addimage" class="p-4 p-md-5 border rounded-3 bg-light" enctype="multipart/form-data" method="POST" action="/add_image/{{club.id}}">
                    <div class="form-floating mb-3">
                        <input type="file" name="clubPic" class="form-control" id="clubPic">
                        <label for="clubPic">Image:</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button form="addimage" class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <!--CHANGE PATHS BEFORE DEPLOY (MUST BE UNIX-FRIENDLY)-->
    <div class="row">
        {% if club.pictureName != "orange.png" %}
        <img src="\static\{{ club.pictureName }}" height="350" alt="" />
        {% else %}
        <img src="\static\grey.jpg" height="350" width="100%" alt="" />
        {% endif %}
    </div>
    <div class="row">
        <span class=" my-2 border-bottom text-center display-1"><strong>{{ club.name }}</strong></span>
    </div><br><br>
    <div class="row text-center">
        <div class="col-3 text-center">
            <h1>Club Bio</h1>
            <div class="row text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec interdum risus. Pellentesque laoreet tincidunt sem lacinia finibus. Vivamus at fringilla enim. Proin sed lacus eget quam semper vehicula. Ut et pharetra magna, quis facilisis tortor. Sed eu quam diam. Aliquam condimentum lectus eget lacinia sodales. Nullam dolor enim, ornare non quam eu, congue blandit nunc. Etiam ac sagittis augue, sit amet suscipit libero. Nulla vestibulum dolor tincidunt velit pharetra, ut maximus nulla dapibus. Vestibulum viverra metus condimentum, sollicitudin tortor nec, suscipit odio. Ut et quam tempus, faucibus nisl id, porttitor nunc. Curabitur nec massa nulla. Vivamus imperdiet nunc dui, sed molestie eros consectetur ut. Maecenas nunc neque, tristique nec luctus at, dignissim vel tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
            </div><br><br><br>
            <div class="row">
                <button class="w-100 btn btn-lg btn-primary my-2" type="submit">Create Event</button>
                {% if club.pictureName == "orange.png" %}<button class="w-100 btn btn-lg btn-primary my-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Banner Image</button>{% endif %}
            </div><br><br>
        </div>
        <div class="col text-center">
            <h1>Club Event Feed</h1>
            <div class="card">
                <!--CHANGE PATH BEFORE DEPLOY (MUST BE UNIX-FRIENDLY)-->
                <img src="\static\orange.png" class="img-thumbnail" alt="..." />

                <div class="card-body">
                    <h5 class="card-title">Event Title</h5>
                    <p class="card-text">Event Description</p>
                    <div class="row">
                        <div class="col">
                            <span class="border-bottom text-center">Event Date</span>
                        </div>
                        <div class="col">
                            <span class="border-bottom text-center">Event Location</span>
                        </div>
                    </div>
                </div>
            </div><br><br><br>
        </div>
        <div class="col-3 text-center">
            <h1>Club Members</h1><br>
            <div class="card">
                <div class="card-header fw-bolder">Name - Email</div>
                <ul class="list-group list-group-flush">
                    {% for member in members %}
                    <li class="list-group-item">{{member.name}} - {{member.email}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}